@page
@model LockoutModel
@{
    ViewData["Title"] = "Engellenmiş Hesap";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bu hesap bir Yönetici tarafından engellenmiştir!, Daha sonra tekrar deneyin ya da yönetici ile iletişime geçin.</p>
</header>
